.comments-container {
    margin-top: 2.5%;
}

.comment-submission {
    margin-top: 2.5%;
}

.comment {
    margin-top: 1%;
}

.comment h3 {
    font-family: 'Nexa-Heavy';
}

.comment p {
    font-family: 'Roboto-Regular';
}

input[type=submit] {
    font-family: 'Nexa-Heavy';
    font-size: 1.25rem;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 30%;
    color: white;
    background-color: #1e90ff;
    border: none;
}

input[type=submit]:hover {
    background-color: #6bb4fa;
}