@font-face {
  font-family: 'Nexa-Light';
  src: url('font/Nexa-ExtraLight.ttf'); 
}

@font-face {
  font-family: 'Nexa-Heavy';
  src: url('font/Nexa-Heavy.ttf'); 
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('font/roboto/Roboto-Regular.ttf')
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: dodgerblue;
    margin: 0;
    width: 100%;
    position: sticky;
    height: 8vh;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
    padding: 0
}

header li {
    float: right;
    color: white;
    display: block;
    font-family: 'Nexa-Heavy';
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header a {
    color: white;
}

header li a:hover {
    background-color: lightskyblue;
}

header h1 {
    font-family: 'Nexa-Heavy';
    margin: 10px
}

header a {
    text-decoration: none;
}

footer {
    background-color: rgb(38, 128, 218);
    text-align: center;
    font-family: 'Nexa-Heavy';
    font-size: 1rem;
    height: 6vh;
    color: white;
}

footer p {
    padding-top: 1%;
}

.content {
    width: 75%;
    min-height: calc(100vh - 8vh - 6vh); /* 100 - header height - footer height */
    margin: auto;
    background-color: white;
}

.content h1 {
    font-family: 'Nexa-Heavy';
    font-size: 3rem;
}

.content h2 {
    font-family: 'Nexa-Heavy';
}

.content p {
    font-family: 'Roboto-Regular';
}