* {
    margin: 0;
    padding: 0;
}

header {
    background-color: dodgerblue;
    margin: 0;
    width: 100%;
    position: sticky;
    min-height: 60px;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    text-align: center;
    display: flex;
}

header li {
    font-size: 125%;
    margin: 5%;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px
}


footer {
    background-color: rgb(38, 128, 218);
    text-align: center;
}

footer p {
    padding: 1%;
}

.content {
    width: 75%;
    margin: auto;
    background-color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.league-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 1%;
    margin: 5%;
}

.league-item {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10%;
    text-align: center;
}

.league-item img {
    width: 200px;
}

.league-item p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.league-banner {
    width: 100%;
}

.articles-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 1%;
    margin: 5%;
}

.team-item {
    background-color: #DDD;
}