.teams-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 1%;
    margin: 5;
}

.team-item {
    background-color: grey;
    border: 1px solid white;
    padding: 1%;
    margin: 5%;
    border-radius: 5em;
    text-align: center;
}

.team-item img {
    width: 50%;
    padding: 2%;
    border-radius: 2em;
}

.team-item p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}