.drivers-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: dodgerblue;
    border-radius: 30px;
    padding: 1%;
    margin: 2% 0 2% 0;
}

.drivers-item {
    text-align: center;
    padding: 1%;
    margin: 1%;
    background-color: #202020;
    border-radius: 15px;
}

.drivers-item img {
    width: 30%;
    padding: 2%;
    border-radius: 2em;
}

.drivers-item p {
    font-family: 'Nexa-Light';
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.drivers-container a {
    text-decoration: none;
}

.drivers-item:hover {
    background-color: lightslategray;
}