{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='comments.css') }}">
{% endblock %}

{% block content %}

{{ article | safe }}

<div class="comments-container">
    <hr>
    <h2>Comments - {{ total_comments }}</h2>
    {% for comment in comments %}
    <div class="comment">
        <h3>{{ comment[2] }}</h3>
        <p>{{ comment[3] }}</p>
        <p>{{ comment[0] }}</p>
    </div>
    {% endfor %}

    <div class="comment-submission">
        <form method="post">
            <h2><label for="comment-box">Leave a comment:</label></h2>
            <textarea id="comment-box" placeholder="Leave your comment here" name="comment-box" rows="5" cols="100"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}