{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='drivers.css') }}">
{% endblock %}

{% block content %}

<h1>{{ drivers["player"][0]["strTeam"] }} Drivers</h1>

<div class="drivers-container">
    {% for driver in drivers["player"] %}
        {% if driver["strPosition"] == "Manager" %}
            <!-- Do nothing -->
        {% else %}
            <a href="/driver?d={{ driver.idPlayer }}">
                <div class="drivers-item">
                    <img src="{{ driver.strThumb }}">
                    <p>{{ driver.strPlayer }}</p>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}