{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

<form name="login_form" action="" method="post">
    <input type="username" placeholder="Username " name="username">
    <input type="password" placeholder="Password " name="password">
    <button type="submit" class="btn" name="button" value="login">
        Log In
    </button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</form>

{% endblock %}