{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
{% endblock %}

{% block content %}

<h1>{{ team["teams"][0]["strTeam"] }}</h1>
<h2>{{ team["teams"][0]["strLocation"] }}</h2>
<p>{{ team["teams"][0]["strDescriptionEN"] }}</p>

<h1>{{ team["teams"][0]["strTeam"] }} Drivers</h1>
<hr>

<div class="drivers-container" style="background-color: {{ team['teams'][0]['strColour1'] }}">
    {% for driver in drivers["player"] %}
        {% if driver["strPosition"] == "Manager" %}
            <!-- Do nothing -->
        {% else %}
            <a href="/driver?d={{ driver.idPlayer }}">
                <div class="drivers-item">
                    <img src="{{ driver.strThumb }}">
                    <p>{{ driver.strPlayer }}</p>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}